/* font import */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


/* page layout */
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-title {
    align-self: center;
    text-align: center;
}
header {
    margin-bottom: 0; 
}
.pageHeader {
    text-align: center;
    color: #d3d9de;
}
.pageTitle {
    position: relative;
    top: 1vw;
    width: 60vw;
    height: 12vw;
    font-size: 4.2vw;
    margin: 1vw auto 0;
    padding-top: 2.5vw;
    background-image: url(../images/Title_Screen.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.backgroundImg {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
}
body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/Background_Plate_texture.png);
    background-size: cover;
}
.mapTitle {
    font-size: 2vw;
    text-decoration: underline;
    text-align: center;
    color: #d3d9de;
    padding: 1.5vw 0 0;
    display: block;
    border-top-style: solid;
}


/* tile layers (WORK IN PROGRESS) */
/* Note to self: Tenebris is the largest single planet with 91 tiles */
.tileInfo {
    display: none;
    z-index: 3;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: black;
}


.flexTileMap {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top-style: solid;
    border-color: white;
    padding-top: 2vw;
}
#tileMap {
    flex-basis: 75%;
    width: 100%;
    height: auto;
    position: relative;
}
#infoBar {
    flex-basis: 25%;
    color: white;
    text-align: center;
    border-right-style: solid;
}
.tileDataDisplay {
    text-align: left;
    padding-left: 1vw;
    font-size: 1vw;
}
.tileDataDisplayMutable {
}
.tileStats {
    top: 0.5vw;
}
#positioning {
    position: relative;
}
#map {
    background-color: white;
    position: relative;
    z-index: 1;
}
.hexmapPosition {
    position: absolute;
    color: white;
    z-index: 2;
}
table {
    border-style: solid;
    border-collapse: collapse;
    margin-left: 1vw;
    padding: 0;
    width: 90%;
    text-align: left;
}
td {
    border-style: solid;
    padding: 0.4vw 0.75vw;
}
.buildingDisplay {
    text-align: center;
}
#planetImg {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
}

.login {
    text-align: center;
    color: white;
    margin-top: 5vw;
    padding-top: 2vw;
    background-image: url(../images/DigitalSkull.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.loginButton {
    color: white;
    text-decoration: none;
    background-image: url(../images/Buttonless_plate.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.7vw 4vw;
    font-size: 1vw;
}
.loginButton:hover {
    color: rgb(57, 255, 20);
    cursor: pointer;
}
.loginInput {
    color: rgb(57, 255, 20);
    background-color: rgb(50, 50, 56);
}

#hexmapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 2;
}
#hexDrawingCanvas {
    width: 100%;
    height: auto;
}
#tileBackground {
    object-fit: contain;
    width: 99.5%;
    position: absolute;
    z-index: -1;
}
#infoBar {
    position: relative;
    left: 1%;
}
#loreBar {
    text-align: center;
    color: white;
    border-top-style: solid;
    width: 98%;
    margin-left: 1%;
}




/* dropdown */
.factionlist {
    position: static;
    text-decoration: underline;
    padding-bottom: 0.75vw;
}
.factionlist-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: -1vw 0 0 8vw;
    transform: translate(-50%, 0);
    z-index: 4;
    background-color: gray;
    /*opacity: 80%;*/
}
.factionlist-list-item {
    padding: .5vw 1vw .8vw;
    font-size: 0.8vw;
    text-align: left;
}
.factionlist:hover .factionlist-content{
    display: block;
    position: absolute;
}
.factionBuildingLink {
    color: white;
}
.factionBuildingLink:hover {
    color: red;
}


/* Nav Styles */
.navList {
    position: static;
    list-style-type: none;
    font-size: 0.78vw;
    text-align: center;
    width: 98%;
}
.navItem {
    display: inline-block;
    margin: auto 2vw;
}
.navLink {
    color: #aab1b5;
    text-decoration: none;
    background-image: url(../images/Buttonless_plate.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 15vw;
    height: auto;
    padding: 1vw 5vw;
    margin-bottom: -2vw;
}
.navLink:hover {
    color: gray;
}


/* Content Button Styles */
/* grid on background is 60x50 squares */
.contentContainer {
    width: 100%;
    height: 80vw;
    text-align: center;
    display: grid;
    grid-auto-columns: 1.666%;
    grid-auto-rows: 2%;
}
.systemButton {
    width: 5vw;
    height: auto;
    z-index: 2;
}
.systemHoverbox{
    position: relative;
    visibility: hidden;
    left: -4.5vw;
    color: white;
    width: 12vw;
    background-image: url(../images/Dropdown_Tile.png);
    background-position: center;
    text-align: center;
    z-index: 3;
    padding: .75vw 1vw;
    border-style: solid;
    border-color: black;
}
.hoverAnchor {
}
.hoverAnchor:hover .systemHoverbox {
    visibility: visible;
}


/* Home Page Grid IDs */
#Lungor {
    grid-column: 48 / span 1;
    grid-row: 6 / span 1;
}
#Arrakais {
    grid-column: 21 / span 1;
    grid-row: 18 / span 1;
}
#Shrana {
    grid-column: 33 / span 1;
    grid-row: 16 / span 1;
}
#Mar-Adett {
    grid-column: 45 / span 1;
    grid-row: 17 / span 1;
}
#Amlitzer {
    grid-column: 11 / span 1;
    grid-row: 27 / span 1;
}
#Perditia {
    grid-column: 45 / span 1;
    grid-row: 25 / span 1;
}
#Batar {
    grid-column: 34 / span 1;
    grid-row: 26 / span 1;
}
#Corrcon {
    grid-column: 26 / span 1;
    grid-row: 28 / span 1;
}
#Val_Ceti {
    grid-column: 12 / span 1;
    grid-row: 34 / span 1;
}
#Tarsus {
    grid-column: 35 / span 1;
    grid-row: 34 / span 1;
}
#Absconrio {
    grid-column: 26 / span 1;
    grid-row: 42 / span 1;
}


